<h2 class="mat-display-1">Transactions</h2>
<div class="menu">
  <mat-form-field>
    <mat-select placeholder="Ajout de labels" multiple="true" #labels>
      <mat-option *ngFor="let label of getAllLabels() | async" [value]="label">{{label.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="accent"
          [disabled]="labels.selected?.length === 0 || transactions.selectedOptions.selected?.length === 0"
  (click)="addLabels(transactions.selectedOptions.selected, labels.selected)">Ajouter
  </button>
</div>
<div class="loader" *ngIf="(transactions$ | async) === null">
  <mat-spinner></mat-spinner>
</div>
<mat-selection-list #transactions>
  <mat-list-option *ngFor="let transaction of transactions$ | async" [value]="transaction" checkboxPosition="before">
    <div class="row-container">{{transaction.wording}} - {{transaction.amount}}€
      <div class="spacer"></div>
      <mat-chip-list>
        <mat-chip *ngFor="let label of transaction.labels" color="{{label.custom?'primary':'accent'}}" selected>
          {{label.name}}
        </mat-chip>
      </mat-chip-list>
    </div>
  </mat-list-option>
</mat-selection-list>
